<footer>
    <div class="foot">
        <div class="foot-img">
            <img class="foot-img" src="/imgs/logo.png" alt="logo" />
        </div>  
       
        <div class="foot2">
            <h1 class="foot-titles">Redes</h1>
            <ul class="social">
                <li class="social"><a href="instagram.com"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                <li class="social"><a href="facebook.com"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li class="social"><a href="twitter.com"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              </ul>
        </div>

        <div class="foot3">
            <h1 class="foot-titles">Politicas y Privacidad</h1>
            <ul class="foot-desc">
                <li class="foot3">Lorem ipsum dolor sit.</li>
                <li class="foot3">Lorem ipsum dolor sit.</li>
                <li class="foot3">Lorem ipsum dolor sit.</li>
                <li class="foot3">Lorem ipsum dolor sit.</li>
            </ul>
        </div>

        <div class="foot4">
            <h1 class="foot-titles">Soporte</h1>
            <ul class="foot-desc2">
                <li class="foot4">Lorem ipsum dolor sit.</li>
                <li class="foot4">Lorem ipsum dolor sit.</li>
                <li class="foot4">Lorem ipsum dolor sit.</li>
                <li class="foot4">Lorem ipsum dolor sit.</li>
            </ul>
        </div>
        <div class="foot5">
            <img class="foot-img2" src="/imgs/logo.png" alt="logo" />
            <p class="copyright">Copyrights 2023</p>
        </div>
    </div>
</footer>
