<header> 
    <div class="contenedor">
     <div class="img1">
         <a href="/"><img class="img1" src="/imgs/logo.png" alt="logo"/></a>
     </div> 
     <div class="index-botones">
         <a class="index-botones"href="/login"><p>Login</p></a>
         <a class="index-botones"href="/register"><p>Register</p></a>
        </div>
        <div class="div1"></div>
     <div class="div2">
         <div class="div3"> </div>
         <div class="div3"> </div>
         <div class="div3"> </div>
     </div>
    </div>
 </header>