@import url("https://fonts.google.com/specimen/Spectral?selection.family=Catamaran:wght@100;300;500;800;900|Overlock:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900");

* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Roboto", "sans-serif";
}

:root {
    --primary: #4c1a6c;
    --secondary: #842abf;
    --third: #f252aa;
    --fourth: #f87d09;
    --fifth: #f2c12e;
    --sixth: #f2f2f2;
}

body{
    background-color: var(--third);
}

/* HEADER */

.contenedor {
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background: -moz-linear-gradient(-45deg, #000000 0%, #4C1A6C 50%, #000000 100%);
    background: -webkit-linear-gradient(-45deg, #000000 0%, #4C1A6C 50%, #000000 100%);
    background: linear-gradient(135deg, #000000 0%, #4C1A6C 50%, #000000 100%);
    gap: 5px;
}
.index-botones{
   color: var(--sixth); 
   margin-right: 50px;
   margin-top: 10px;
   padding: 2px;

}
.div1 {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--sixth);
    min-width: 140px;
    height: 15px;
    margin-top: 40px;
    margin-left: -50px;
    margin-right: 30px;
    border-radius: 40px;
    box-shadow: 0.5px 2.5px 20.5px 0.5px black;
}
.img1{
    padding-top: 7px;
    height: 65px;
    margin: 3px;
}
.div2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
    background-color: var(--fifth);
    max-height: 40px;
    min-height: 40px;
    min-width: 30px;
    max-width: 30px;
    margin-top: 22px;
    margin-right: 5px;
    border-radius: 10px;
    box-shadow: 0.5px 2.5px 10.5px 1.5px black;
    cursor: pointer;
}
.div3 {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--primary);
    min-height: 3px;
    min-width: 15px;
    border-radius: 15px;
}
.banner {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 390px;
  min-height: 20vh;
  border-radius: 0;
  box-shadow: 0.5px 2.5px 20.5px 0.5px black;
  overflow: hidden;
  margin: 0;
  flex-direction: row;
}
.img2 {
    width: 100%;
    height: auto;
    max-height: 500px;
    object-fit: cover; 
}

/* HOME */

.home-bg{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: 25px 22px;
    background: -moz-linear-gradient(-45deg, #000000 0%, #4C1A6C 50%, #000000 100%);
    background: -webkit-linear-gradient(-45deg, #000000 0%, #4C1A6C 50%, #000000 100%);
    background: linear-gradient(135deg, #000000 0%, #4C1A6C 50%, #000000 100%);
}
#product{
    padding: 15px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title {
    margin: -5px 10px 5px;
    font-size: 1.5rem;
    color: var(--sixth);
}
.prod-img{
    margin: 12px 5px 5px;
    max-width: 100%;
    border-radius: 40px;
    box-shadow: 0.5px 2.5px 20.5px 0.5px black;
}
.desc{
    font-size: 1rem;
    margin: 12px 5px 5px;
    color: var(--sixth);
}
.precio {
    display: flex;
    justify-content: flex-end;
    font-size: 1.7em;
    margin: 25px 10px 35px;
    color: var(--sixth);
}
.boton{
    height: 40px;
    width: 80px;
    background-color: var(--secondary);
    margin: 15px 15px 5px;
    font-size: 1.2rem;
    border-radius: 2rem;
    box-shadow: 2.5px 2.5px 2.5px 2.5px var(--fifth);
}

.botones{
    display: flex;
    flex-wrap: wrap;
}


/* PRODUCT-DETAIL/2DA PAGINA */
.img3{
    max-width: 100%;
    padding: 5px;
    border-radius: 40px;
    box-shadow: 0.5px 2.5px 20.5px 0.5px black;
}
.product-detail {
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 10px;
}
.product-title{
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    font-size: 2em; 
}
.product-desc{
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    font-size: 1.5em; 
}
.product-info{
    display: flex;
    flex-direction:row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 15px;
}
.boton4{
    background-color: var(--secondary);
    padding: 2.5px;
    margin: 20px;
    font-size: 40px;
    border-radius: 2rem;
    box-shadow: 2.5px 2.5px 2.5px 2.5px var(--fifth);
}
.precio4{
    display: flex;
    flex-direction: row-reverse;
    margin: 20px;
    padding: 5px;
    font-size: 2em
}
.boton2{
    background-color: var(--secondary);
    display: flex;
    flex-direction:row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 400px;
    font-size: 40px;
    border-radius: 2rem;
    box-shadow: 2.5px 2.5px 2.5px 2.5px var(--fifth);
}
/* CARRITO/3RA PAGINA */

.carrito{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: 25px 22px;
    background: -moz-linear-gradient(-45deg, #000000 0%, #4C1A6C 50%, #000000 100%);
    background: -webkit-linear-gradient(-45deg, #000000 0%, #4C1A6C 50%, #000000 100%);
    background: linear-gradient(135deg, #000000 0%, #4C1A6C 50%, #000000 100%);
    width: 350px;
    height: 700px;
    border-radius: 2rem;
    box-shadow: 1.5px 3.5px 5.5px 3.5px rgba(0, 0, 0, 0.329);
}
#productos{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 15px;
}
.title-prod{
    margin: 10px 10px 5px;
    font-size: 1.5rem;
    color: var(--sixth)
}
.price{
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    color: var(--sixth)
}
.img-cart{
    margin-left: 5px;
    max-width: 50%;
    max-height: 50%;
    border-radius: 25px;
    box-shadow: 0.5px 2.5px 20.5px 0.5px black;
}
.boton-cart{
    background-color: var(--secondary);
    margin: -25px 30px;
    font-size: 1.2rem;
    width: 40px;
    height: 25px;
    border-radius: 2rem;
    box-shadow: 2.5px 2.5px 2.5px 2.5px var(--fifth);
}
.boton-cart2{
    background-color: var(--secondary);
    padding: 5px;
    margin: -30px 200px 5px;
    font-size: 15px;
    width: 60px;
    height: 30px;
    border-radius: 2rem;
    box-shadow: 2.5px 2.5px 2.5px 2.5px var(--fifth);
}
.total-1{
color: var(--sixth);
font-size: 1.2rem;
}
.total{
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding-left: 15px;
    font-size: 1.2rem;
}

/* REGISTER/4TA PAGINA */
main{
    background-color: var(--third);
}
form{
    border-radius: 40px;
    width: 320px;
    height: 580px;
    padding: 20px 100px;
    margin: 25px auto;
    background: -moz-linear-gradient(-45deg, #000000 0%, #4C1A6C 50%, #000000 100%);
    background: -webkit-linear-gradient(-45deg, #000000 0%, #4C1A6C 50%, #000000 100%);
    background: linear-gradient(135deg, #000000 0%, #4C1A6C 50%, #000000 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
}
.padre1, .padre2, .padre3, .padre5{
    color: var(--sixth);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.padre4, .padre6{
    color: var(--sixth);
    display: flex;
    align-items: center;
}
.hijo4, .hijo4-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 25px;
}
#birthdate, #country{
    font-size: 1rem;
    border-radius: 30px;
    width: 100px;
    background-color: var(--sixth);
    padding: 2.5px;
}
.hijo4-2{
   padding-top: 15px;
}
.padre6{
    padding: 5px;
    font-size: 1rem;
    margin-left: 80px;
}
input{
    font-size: 1rem;
    border-radius: 30px;
    width: 250px;
    background-color: var(--fifth);
    padding: 2.5px;
    margin: 2px;
}
#register{
    background-color: var(--secondary);
    color: var(--sixth);
    padding: 5px;
    font-size: 1.2rem;
    width: 120px;
    height: 50px;
    border-radius: 2rem;
    box-shadow: 2.5px 2.5px 2.5px 2.5px var(--fifth);
}

/* LOGIN /5TA PAGINA */
.login{
    border-radius: 40px;
    width: 320px;
    height: 400px;
    padding: 20px 100px;
    margin: 25px auto;
    background: -moz-linear-gradient(-45deg, #000000 0%, #4C1A6C 50%, #000000 100%);
    background: -webkit-linear-gradient(-45deg, #000000 0%, #4C1A6C 50%, #000000 100%);
    background: linear-gradient(135deg, #000000 0%, #4C1A6C 50%, #000000 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
}
.login-img{
    height: 100px;
}
#login{
    color: var(--sixth);
    background-color: var(--secondary);
    padding: 5px;
    font-size: 1.2rem;
    width: 120px;
    height: 30px;
    border-radius: 2rem;
    box-shadow: 2.5px 2.5px 2.5px 2.5px var(--fifth);
}
.hijo, .hijo-2{
    color: var(--sixth);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 25px;
}
.extras{
    color: var(--sixth);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 10px;
    margin: 10px;
    font-size: 1.2rem;
}
#extras{
    color: var(--sixth);
}

a{
    text-decoration: none;
    color:#000; 
}

/* Footer */

.foot {
    display: flex;
    flex-direction:row;
    justify-content: center;
    flex-wrap: wrap;
    min-width: 390px;
    background: -moz-linear-gradient(-45deg, #000000 0%, #4C1A6C 50%, #000000 100%);
    background: -webkit-linear-gradient(-45deg, #000000 0%, #4C1A6C 50%, #000000 100%);
    background: linear-gradient(135deg, #000000 0%, #4C1A6C 50%, #000000 100%);
    padding: 10px;
    margin: auto;
}
.social{
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 10px;
    margin: 0 8px;
    font-size: 2em;
}
.foot-titles{
    color: var(--sixth);
    display: none;
    flex-direction:row;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 2rem;
}
.foot-desc, .foot-desc2{
    font-size: 1.2rem;
    color: var(--sixth);
}
 .foot3, .foot4 {
    display: none;
    flex-direction:column;
    flex-wrap: wrap;
    padding: 5px;
    font-size: 1.5em;
}
.foot-img{
    display: none;
    height: 200px;
    margin: 0px;
}
.foot-img2{
    width: 100%;
    height: auto;
}
.copyright{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 1.5em;
    color: var(--fifth);
    width: 100%;
}
/* PARTE RESPONSIVE PARA DESKTOP */

@media only screen and (min-width: 1020px) {

    body{
        background-color: var(--third)
    }
    .contenedor {
        display: flex;
        flex-direction:row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        background-color: var(--primary);
        padding: 15px;
    }
    .div1 {
        display: flex;
        flex-wrap: wrap;
        background-color: var(--sixth);
        min-width: 1000px;
        height: 40px;
        margin: 35px;
        margin-top: 50px;
        margin-right:80px;
        border-radius: 40px;
        box-shadow: 0.5px 2.5px 20.5px 0.5px black;
    }
    .img1{
        height: 125px;
    }
    .div2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2.5px;
        background-color: var(--fifth);
        min-height: 80px;
        min-width: 70px;
        margin-top: 30px;
        margin-left: 20px;
        border-radius: 15px;
        box-shadow: 0.5px 2.5px 10.5px 1.5px black;
        cursor: pointer;
    }
    .div3{
        display: flex;
        flex-wrap: wrap;
        background-color: var(--primary);
        min-height: 5px;
        min-width: 40px;
        margin: 2px;
        border-radius: 15px;
    }
    
    .banner{
        min-width: 100%;
        height: 400px;
        box-shadow: 0.5px 2.5px 20.5px 0.5px black;
        overflow: hidden;
    }
    .img2{
        width: 100%;
    }
    
   .home-bg{
    margin-left: 325px;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: var(--secondary);
    border-radius: 2rem;
    box-shadow: 1.5px 3.5px 5.5px 3.5px rgba(0, 0, 0, 0.329);
    width: 1200px;
    box-shadow: none;
    height: 100%; 
   }
   
    #product{
        padding: 15px;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .title {
        padding: 5px;
        font-size: 2.5rem;
    }
   
    .prod-img{
        max-width: 100%;
        padding: 5px;
        border-radius: 40px;
        box-shadow: 0.5px 2.5px 20.5px 0.5px black;
    }
    
    .desc{
        font-size: 1.5rem;
        margin: 12px 5px 5px;
    }
    .precio {
        display: flex;
        justify-content: flex-end;
        font-size: 2.3em;
        margin: 25px 10px 35px;
    }
    
    .boton{
        height: 60px;
        width: 120px;
        background-color: var(--secondary);
        margin: 15px 20px 5px;
        font-size: 2rem;
        border-radius: 2rem;
        box-shadow: 2.5px 2.5px 2.5px 2.5px var(--fifth);
    }
    
    .botones{
        display: flex;
        flex-wrap: wrap;
    }


 /* PROD. DETAIL */

    .product-detail {
        display: flex;
        flex-direction:row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        padding: 10px;
    }
    .product-title{
        display: flex;
        flex-wrap: wrap;
        margin: 20px;
        font-size: 2em; 
    }
    .product-desc{
        display: flex;
        flex-wrap: wrap;
        margin: 20px;
        font-size: 1.5em; 
    }
    
    .boton4{
        height: 60px;
        width: 120px;
        background-color: var(--secondary);
        margin: 15px 20px 5px;
        font-size: 2rem;
        border-radius: 2rem;
        box-shadow: 2.5px 2.5px 2.5px 2.5px var(--fifth);
    }

 /* CARRITO/3RA PAGINA */


.carrito{
    margin-left: 325px;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: var(--secondary);
    border-radius: 2rem;
    box-shadow: 1.5px 3.5px 5.5px 3.5px rgba(0, 0, 0, 0.329);
    width: 1200px;
    box-shadow: none;
    height: 100%;    
}
#producto1, #producto2{
    display: flex;
    flex-direction: column;
    margin: 10px;
}
#producto1>h1, #producto2>h1{
    font-size: 2rem;
    padding: 15px;
}
#producto1>h2, #producto2>h2{
    font-size: 2rem;
    padding: 15px;
}

.img-cart{
    max-width: 50%;
    max-height: 100%;
    border-radius: 25px;
    margin: 10px;
}

.boton-cart{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--secondary);
    margin: 180px 10px;
    font-size: 2rem;
    width: 100px;
    height: 40px;
    border-radius: 2rem;
    box-shadow: 2.5px 2.5px 2.5px 2.5px var(--fifth);
}
.price{
    margin: 120px;
    font-size: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.boton-cart2{
    background-color: var(--secondary);
    padding: 10px;
    font-size: 1.5rem;
    width: 100px;
    height: 50px;
    border-radius: 2rem;
    box-shadow: 2.5px 2.5px 2.5px 2.5px var(--fifth);
}
.total{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.total-1{
    padding: 50px;
    margin: 10px 100px;
    font-size: 2rem;
}


    /* REGISTER/4TA PAGINA */
.register-main{
    background-color: var(--third);
    padding: 50px;
}
form{
    border-radius: 80px;
    width: 800px;
    height: 800px;
    padding: 50px 100px;
    background-color: var(--secondary);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 2rem;
}
.padre1, .padre2{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.padre3, .padre5{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.padre4, .padre6{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.hijo1, .hijo1-2, .hijo2, .hijo2-2, .hijo3, .hijo3-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hijo4, .hijo4-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 25px;
}
#birthdate, #country{
    font-size: 1.5rem;
    border-radius: 30px;
    width: 200px;
    background-color: var(--sixth);
    padding: 2.5px;
}
.hijo4-2{
   padding-top: 10px;
}
.padre6{
    padding: 5px;
    font-size: 1.5rem;
    margin-left: 80px;
}
input{
    font-size: 1.5rem;
    border-radius: 30px;
    width: 300px;
    height: 40px;
    background-color: var(--fifth);
    padding: 2.5px;
    margin: 15px;
}
#register{
background-color: var(--secondary);
padding: 5px;
font-size: 1.5rem;
width: 200px;
height: 50px;
border-radius: 2rem;
box-shadow: 2.5px 2.5px 2.5px 2.5px var(--fifth);
}

/* LOGIN /5TA PAGINA */

.login{
    border-radius: 80px;
    width: 800px;
    height: 800px;
    padding: 50px 100px;
    background-color: var(--secondary);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 2rem
}
.login-img{
    height: 200px;
}
#login{
    background-color: var(--secondary);
    padding: 5px;
    font-size: 2rem;
    width: 200px;
    height: 50px;
    border-radius: 2rem;
    box-shadow: 2.5px 2.5px 2.5px 2.5px var(--fifth);
}
.hijo, .hijo-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 25px;
}
.extras{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    font-size: 2rem;
}
.index-botones{
    color: var(--sixth);
    margin-right: 50px;
    margin-top: 10px;
    font-size: 1.5rem;
}
a{
    text-decoration: none; color:#000; 
}
    /* FOOTER */

    .foot {
        display: flex;
        flex-direction:row;
        justify-content: space-around;
        flex-wrap: wrap;
        background-color: var(--primary);
        padding: 10px;
        margin: auto;
    }
    .social{
        display: flex;
        flex-direction:row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        padding: 10px;
        margin: 0 8px;
        font-size: 2em;
    }
    .foot-titles{
        display: flex;
        flex-direction:row;
        justify-content: center;
        flex-wrap: wrap;
        font-size: 2rem;
    }
    .foot-desc, .foot-desc2{
        font-size: 1.2rem;
    }
     .foot3, .foot4{
        display: flex;
        flex-direction:column;
        flex-wrap: wrap;
        padding: 5px;
        font-size: 1.5em;
    }
    .foot-img{
        display: flex;
        flex-wrap: wrap;
        height: 200px;
        margin: 0px;
    }
    .copyright{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        font-size: 1.5em;
        color:var(--fifth);
        width: 100%;
    }
    

};