@import url("https://fonts.google.com/specimen/Spectral?selection.family=Catamaran:wght@100;300;500;800;900|Overlock:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900");

* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Roboto", "sans-serif";
}

:root {
    --primary: rgba(76, 26, 108, 1);
    --secondary: rgba(132, 42, 191, 1);
    --third: rgba(242, 82, 170, 1);
    --fourth: rgb(248, 125, 9);
    --fifth: rgba(242, 193, 46, 1);
    --sixth: rgba(242, 242, 242, 1);
}

body{
    background-color: var(--third);
}


.contenedor {
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: var(--primary);
    gap: 10px;
}
.div1 {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--sixth);
    min-width: 120px;
    height: 15px;
    margin: 25px;
    margin-left: -40px;
    border-radius: 40px;
    box-shadow: 0.5px 2.5px 20.5px 0.5px black;
}
.img1{
    height: 50px;
    margin: 3px;
}
.div2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2px;
    background-color: var(--fifth);
    min-height: 2.5px;
    min-width: 30px;
    margin: 15px;
    border-radius: 10px;
    box-shadow: 0.5px 2.5px 10.5px 1.5px black;
    cursor: pointer;
}
.div3 {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--primary);
    min-height: 3px;
    min-width: 15px;
    border-radius: 15px;
}

.banner {
    display: flex;
    flex-direction:row;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 390px;
    min-height: 20vh;
    border-radius:0px;
    box-shadow: 0.5px 2.5px 20.5px 0.5px black;
    overflow: hidden;
    margin: 0px;
}
.img2{
    width: 100%;
    margin: 0px;
}

.articulos {
    display: flex;
    flex-direction:row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    margin: 5px;
}
.title {
    padding: 20px;
    font-size: 1.7rem;
}
.img3 {
    max-width: 90%;
    padding: 10px;
    border-radius: 40px;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: 0.5px 2.5px 20.5px 0.5px black;
}
.img4, .img5{
    display: none;
    padding: 10px;
    border-radius: 40px;
    margin: auto;
    box-shadow: 0.5px 2.5px 20.5px 0.5px black;
}

.img5 {
    padding: 10px;
    border-radius: 40px;
    margin: auto;
    box-shadow: 0.5px 2.5px 20.5px 0.5px black;
}
.desc{
    font-size: 1.2rem;
}
.precio {
    display: flex;
    flex-direction: row-reverse;
    font-size: 2em
}

.boton{
    height: 40px;
    width: 100px;
    background-color: var(--secondary);
    padding: 2.5px;
    margin: 20px;
    font-size: 1.5rem;
    border-radius: 2rem;
    box-shadow: 2.5px 2.5px 2.5px 2.5px var(--fifth);
}

.botones{
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
#product2, #product3{
    display: none;
}

.foot {
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    flex-wrap: wrap;
    min-width: 390px;
    background-color: var(--primary);
    padding: 10px;
    margin: auto;
}
.social{
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 10px;
    margin: 0 8px;
    font-size: 2em;
}
.foot-titles{
    display: flex;
    flex-direction:row;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 2rem;
}
.foot-desc, .foot-desc2{
    font-size: 1.2rem;
}
 .foot3, .foot4 {
    display: none;
    flex-direction:column;
    flex-wrap: wrap;
    padding: 5px;
    font-size: 1.5em;
}
.foot-img{
    display: none;
    height: 200px;
    margin: 0px;
}
.foot-img2{
    height: 200px;
    margin: 0px;
}
.copyright{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 1.5em;
    color: var(--fifth);
    width: 100%;
}

/* PRODUCT-DETAIL/2DA PAGINA */

.product-detail {
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 10px;
}
.product-title{
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    font-size: 2em; 
}
.product-desc{
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    font-size: 1.5em; 
}
.product-info{
    display: flex;
    flex-direction:row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 15px;
}

.boton4{
    background-color: var(--secondary);
    padding: 2.5px;
    margin: 20px;
    font-size: 40px;
    border-radius: 2rem;
    box-shadow: 2.5px 2.5px 2.5px 2.5px var(--fifth);
}


.precio4{
    display: flex;
    flex-direction: row-reverse;
    margin: 20px;
    padding: 5px;
    font-size: 2em
}


.boton2{
    background-color: var(--secondary);
    display: flex;
    flex-direction:row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 400px;
    font-size: 40px;
    border-radius: 2rem;
    box-shadow: 2.5px 2.5px 2.5px 2.5px var(--fifth);
}


/* CARRITO/3RA PAGINA */

.carrito{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: 25px 22px;
    background-color: var(--secondary);
    width: 350px;
    height: 700px;
    border-radius: 2rem;
    box-shadow: 1.5px 3.5px 5.5px 3.5px rgba(0, 0, 0, 0.329);
}
#producto1, #producto2, #producto3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 15px;
}
.title-prod{
    padding: 15px;
}
.price{
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.img-cart{
    margin-left: 5px;
    max-width: 50%;
    max-height: 50%;
    border-radius: 25px;
    box-shadow: 0.5px 2.5px 20.5px 0.5px black;
}
.boton-cart{
    background-color: var(--secondary);
    margin: -25px 30px;
    font-size: 1.2rem;
    width: 40px;
    height: 25px;
    border-radius: 2rem;
    box-shadow: 2.5px 2.5px 2.5px 2.5px var(--fifth);
}

.boton-cart2{
    background-color: var(--secondary);
    padding: 5px;
    margin: -25px 100px 20px;
    font-size: 15px;
    width: 60px;
    height: 30px;
    border-radius: 2rem;
    box-shadow: 2.5px 2.5px 2.5px 2.5px var(--fifth);
}
.total-1{
font-size: 1.2rem;
}
.total{
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding-left: 15px;
    font-size: 1.2rem;
}

/* REGISTER/4TA PAGINA */
main{
    background-color: var(--third);
}

form{
    border-radius: 40px;
    width: 320px;
    height: 580px;
    padding: 20px 100px;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: var(--secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
}
.padre1, .padre2, .padre3, .padre5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.padre4, .padre6{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.hijo4, .hijo4-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 25px;
}
#birthdate, #country{
    font-size: 1rem;
    border-radius: 30px;
    width: 100px;
    background-color: var(--sixth);
    padding: 2.5px;
}
.hijo4-2{
   padding-top: 15px;
}
.padre6{
    padding: 5px;
    font-size: 1rem;
    margin-left: 80px;
}
input{
    font-size: 1rem;
    border-radius: 30px;
    width: 250px;
    background-color: var(--fifth);
    padding: 2.5px;
    margin: 2px;
}
#register{
background-color: var(--secondary);
padding: 5px;
font-size: 1.2rem;
width: 120px;
height: 50px;
border-radius: 2rem;
box-shadow: 2.5px 2.5px 2.5px 2.5px var(--fifth);
}

/* LOGIN /5TA PAGINA */
.login{
    border-radius: 40px;
    width: 320px;
    height: 400px;
    padding: 20px 100px;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: var(--secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
}
.login-img{
    height: 100px;
}
#login{
    background-color: var(--secondary);
    padding: 5px;
    font-size: 1.2rem;
    width: 120px;
    height: 30px;
    border-radius: 2rem;
    box-shadow: 2.5px 2.5px 2.5px 2.5px var(--fifth);
}
.hijo, .hijo-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 25px;
}
.extras{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    margin: 10px;
    font-size: 1.2rem;
}

/* PARTE RESPONSIVE PARA DESKTOP */

@media only screen and (min-width: 1020px) {

    body{
        background-color: var(--third)
    }
    .contenedor {
        display: flex;
        flex-direction:row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        background-color: var(--primary);
        padding: 15px;
    }
    .div1 {
        display: flex;
        flex-wrap: wrap;
        background-color: var(--sixth);
        min-width: 1000px;
        height: 40px;
        margin: 35px;
        border-radius: 40px;
        box-shadow: 0.5px 2.5px 20.5px 0.5px black;
    }
    .img1{
        height: 100px;
    }
    .div2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2.5px;
        background-color: var(--fifth);
        min-height: 80px;
        min-width: 70px;
        margin: 15px;
        border-radius: 15px;
        box-shadow: 0.5px 2.5px 10.5px 1.5px black;
        cursor: pointer;
    }
    .div3{
        display: flex;
        flex-wrap: wrap;
        background-color: var(--primary);
        min-height: 5px;
        min-width: 40px;
        margin: 2px;
        border-radius: 15px;
    }
    
    .banner{
        display: flex;
        flex-direction:row;
        justify-content: center;
        flex-wrap: wrap;
        height: 400px;
        box-shadow: 0.5px 2.5px 20.5px 0.5px black;
        overflow: hidden;
    }
    .img2{
        width: 100%;
    }
    
    .articulos{
        display: flex;
        flex-direction:row;
        justify-content: center;
        flex-wrap: wrap;
        padding: 20px;
    }
    #product, #product2, #product3{
        display: flex;
        flex-direction:column;;
        justify-content: space-evenly;
        flex-wrap: wrap;
        padding: 50px;
    }
  
    .img3, .img4 {
        display: flex;
        padding: 10px;
        border-radius: 40px;
        margin: 5px;
        object-fit:cover;
        box-shadow: 0.5px 2.5px 20.5px 0.5px black;
    }
    .img4{
        width: 512px;
        height: 568px;
    }
    
    .img5{
    display: flex;
    width: 524px;
    height: 590px;
    padding: 10px;
    border-radius: 40px;
    margin: 5px;
    object-fit:cover;
    box-shadow: 0.5px 2.5px 20.5px 0.5px black; 
    }
    .title{
        font-size: 2rem;
        display: flex;
        justify-content: center;
    }
    
    .boton{
        background-color: var(--secondary);
        display: inline-block;
        flex-direction:row;
        justify-content: center;
        height: 80px;
        width: 120px;
        margin: 30px;
        font-size: 35px;
        border-radius: 2rem;
        box-shadow: 2.5px 2.5px 2.5px 2.5px var(--fifth);
    }
    
    /* PRODUCT-DETAIL/2DA PAG*/
    
    .product-info{
        display: flex;
        flex-direction:row;
        justify-content: center;
        flex-wrap: wrap;
        padding: 15px;
    }
    
    .boton4{
        background-color: var(--secondary);
        padding: 2.5px;
        margin: 20px;
        font-size: 40px;
        border-radius: 2rem;
        box-shadow: 2.5px 2.5px 2.5px 2.5px var(--fifth);
    }
    
    
    .precio4{
        display: flex;
        flex-direction: row-reverse;
        margin: 20px;
        padding: 5px;
        font-size: 2em
    }
    
    
    .foot {
        display: flex;
        flex-direction:row;
        justify-content: space-around;
        flex-wrap: wrap;
        background-color: var(--primary);
        padding: 10px;
        margin: auto;
    }
    .social{
        display: flex;
        flex-direction:row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        padding: 10px;
        margin: 0 8px;
        font-size: 2em;
    }
    .foot-titles{
        display: flex;
        flex-direction:row;
        justify-content: center;
        flex-wrap: wrap;
        font-size: 2rem;
    }
    .foot-desc, .foot-desc2{
        font-size: 1.2rem;
    }
     .foot3, .foot4{
        display: flex;
        flex-direction:column;
        flex-wrap: wrap;
        padding: 5px;
        font-size: 1.5em;
    }
    .foot-img{
        display: flex;
        flex-wrap: wrap;
        height: 200px;
        margin: 0px;
    }
    .copyright{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        font-size: 1.5em;
        color:var(--fifth);
        width: 100%;
    }
    
    
    .product-detail {
        display: flex;
        flex-direction:row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        padding: 10px;
    }
    .product-title{
        display: flex;
        flex-wrap: wrap;
        margin: 20px;
        font-size: 2em; 
    }
    .product-desc{
        display: flex;
        flex-wrap: wrap;
        margin: 20px;
        font-size: 1.5em; 
    }
    
    .boton2{
        background-color: var(--secondary);
        display: flex;
        flex-direction:row;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0 400px;
        font-size: 40px;
        border-radius: 2rem;
        box-shadow: 2.5px 2.5px 2.5px 2.5px var(--fifth);
    }

    /* CARRITO/3RA PAGINA */


.carrito{
    margin-left: 325px;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: var(--secondary);
    border-radius: 2rem;
    box-shadow: 1.5px 3.5px 5.5px 3.5px rgba(0, 0, 0, 0.329);
    width: 1200px;
    box-shadow: none;
    height: 100%;    
}
#producto1, #producto2{
    display: flex;
    flex-direction: column;
    margin: 10px;
}
#producto1>h1, #producto2>h1{
    font-size: 2rem;
    padding: 15px;
}
#producto1>h2, #producto2>h2{
    font-size: 2rem;
    padding: 15px;
}

.img-cart{
    max-width: 50%;
    max-height: 100%;
    border-radius: 25px;
    margin: 10px;
}

.boton-cart{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--secondary);
    margin: 180px 10px;
    font-size: 2rem;
    width: 100px;
    height: 40px;
    border-radius: 2rem;
    box-shadow: 2.5px 2.5px 2.5px 2.5px var(--fifth);
}
.price{
    margin: 120px;
    font-size: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.boton-cart2{
    background-color: var(--secondary);
    padding: 10px;
    font-size: 1.5rem;
    width: 100px;
    height: 50px;
    border-radius: 2rem;
    box-shadow: 2.5px 2.5px 2.5px 2.5px var(--fifth);
}
.total{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.total-1{
    padding: 50px;
    margin: 10px 100px;
    font-size: 2rem;
}


    /* REGISTER/4TA PAGINA */
.register-main{
    background-color: var(--third);
    padding: 50px;
}

form{
    border-radius: 80px;
    width: 800px;
    height: 800px;
    padding: 50px 100px;
    background-color: var(--secondary);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 2rem;
}
.padre1, .padre2{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.padre3, .padre5{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.padre4, .padre6{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.hijo1, .hijo1-2, .hijo2, .hijo2-2, .hijo3, .hijo3-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hijo4, .hijo4-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 25px;
}

#birthdate, #country{
    font-size: 1.5rem;
    border-radius: 30px;
    width: 200px;
    background-color: var(--sixth);
    padding: 2.5px;
}
.hijo4-2{
   padding-top: 10px;
}
.padre6{
    padding: 5px;
    font-size: 1.5rem;
    margin-left: 80px;
}
input{
    font-size: 1.5rem;
    border-radius: 30px;
    width: 300px;
    height: 40px;
    background-color: var(--fifth);
    padding: 2.5px;
    margin: 15px;
}
#register{
background-color: var(--secondary);
padding: 5px;
font-size: 1.5rem;
width: 200px;
height: 50px;
border-radius: 2rem;
box-shadow: 2.5px 2.5px 2.5px 2.5px var(--fifth);
}

/* LOGIN /5TA PAGINA */

.login{
    border-radius: 80px;
    width: 800px;
    height: 800px;
    padding: 50px 100px;
    background-color: var(--secondary);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 2rem
}
.login-img{
    height: 200px;
}
#login{
    background-color: var(--secondary);
    padding: 5px;
    font-size: 2rem;
    width: 200px;
    height: 50px;
    border-radius: 2rem;
    box-shadow: 2.5px 2.5px 2.5px 2.5px var(--fifth);
}
.hijo, .hijo-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 25px;
}
.extras{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    font-size: 2rem;
}
};