<!DOCTYPE html>
<html lang="en">

<%-include('./partials/Head') %>

<body>
    <%-include('./partials/Header') %>
    <section class="carrito">
    
        <div id="producto1">
            <h1 class="title-prod">Remera de Anime Berserk</h1> 
            <img class="img-cart" src="/imgs/product1.jpg" alt="berserk" />
         </div> 
         <button class="boton-cart">-</button>
         <button class="boton-cart">+</button>
         <h2 class="price">$3500</h2>     
    
         <div id="producto2">
            <h1 class="title-prod">Remera de Ghost in the shell</h1>
            <img class="img-cart" src="/imgs/product2.jpg" alt="berserk" />
         </div>
            <button class="boton-cart">-</button>
            <button class="boton-cart">+</button>
            <h2 class="price">$3500</h2>   
        
         <div class="total">
        <p class="total-1">TOTAL:</p>
        <p class="total-1">$7000</p>
        <button class="boton-cart2">PAGAR</button>
        </div>
    </section>
    <%-include('./partials/Footer') %>
</body>
</html>