<!DOCTYPE html>
<html lang="en">

<%- include('./partials/Head') %>

<body>
    <%- include('./partials/Header') %>
    <section>
        <div class="product-detail">
            <div class="product-det-img">
                <img class="img3" src="/imgs/product1.jpg" alt="berserk">    
            </div>
              
            <div class="product-info">
                <h1 class="product-title">Remera de Berserk</h1>
                <p class="product-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam deserunt neque placeat illo quia saepe ipsum provident dolore eius nam, repudiandae, officiis optio! Quibusdam quis recusandae quas saepe iusto et, placeat doloribus error culpa voluptatibus deleniti laborum doloremque necessitatibus at commodi. </p>
                <p class="precio4">$3500</p>
                <button class="boton4">Comprar</button>
            </div>
            </div>
    </section>
    <%-include('./partials/Footer') %>
</body>
</html>