<!DOCTYPE html>
<html lang="en">
   
<%- include('./partials/Head') %>
      
   <body>
    <%- include('./partials/Header') %>
    <main>
        <form class='login' action="login" method="post"> 
            <img class="login-img" src="/imgs/logo.png" alt="logo"/>
            <div class="padre">
                <div class="hijo">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" placeholder="Correo electronico" required/>
                </div>
                <div class="hijo-2">
                    <label for="password">Contraseña</label>
                    <input type="password" name="password" id="password" placeholder="Contraseña" required/>
                </div>
            </div>
                <input id= "login" type="submit" value="Ingresar">
                
                
                <div class ="extras">   
                   <a id="extras" href="/register"><p>Registrarse</p></a>
                   <a id="extras" href=""><p>Olvide mi Contraseña</p></a>
                </div>
            </form>
    </main>
    <%-include('./partials/Footer') %>
</body>
</html>